/*
 * Project: ******
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 */


// Layout >> Forms


input, textarea
    padding: 10px 20px
    border: 1px solid #d6d6d6
    background-color: #ffffff
    color: $grey
    font-size: (15/16) * 1em
    +box-shadow(1px 1px 3px $lightBoxShadow)

    &:focus
        outline: 0 none

    &.success
        border-color: $green

        +input-placeholder
            color: $green

    &.invalid
        border-color: $red

        +input-placeholder
            color: $red

    &.warning
        border-color: $orange

        +input-placeholder
            color: $orange

    &.checking
        border-color: $blue

        +input-placeholder
            color: $blue


input[type="checkbox"]
    +opacity(0)
    width: 0
    height: 0


textarea
    height: 125px


button, select
    &:focus
        outline: 0 none


.input-small
    padding: 8px 15px
    font-size: (13/16) * 1em

