/* ------------------------------------------------------------------------------------------------------------------------
 * Project: ******
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 ------------------------------------------------------------------------------------------------------------------------ */


/* Layout >> Variables >> Colors
 ------------------------------------------------------------------------------------------------------------------------ */


$black: #454545
$grey: #606060
$lightGrey: #757575
$beige: #fafafa
$white: #ffffff
$blue: #0079c1
$lightBlue: #00a7f8
$darkBlue: #225B9D
$turquoise: #46a7df
$green: #8bb956
$brown: #b18b44
$yellow: #ffc54c
$lightYellow: #fdf8d9
$orange: #e49424
$red: #c34c47

$darkBorderColor: #c0c0c0
$borderColor: #d0d0d0
$lightBorderColor: #e0e0e0

$darkBoxShadow: #dadada
$boxShadow: #e0e0e0
$lightBoxShadow: #f0f0f0


/* Layout >> Variables >> Sprites
 ------------------------------------------------------------------------------------------------------------------------ */


$main: sprite-map("main/*.png")

