/* ------------------------------------------------------------------------------------------------------------------------
 * Project: ******
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 ------------------------------------------------------------------------------------------------------------------------ */


/* Layout >> Common > Responsive
 ------------------------------------------------------------------------------------------------------------------------ */


.small-tablet, .small-tablet-o, .tablet, .tablet-o, .desktop
    display: none


/* For Small Tablet & Beyond */
@media screen and (min-width: 599px)
    .small-tablet, .small-tablet-o
        display: block

    .mobile-o
        display: none


/* For Tablet & Beyond */
@media screen and (min-width: 767px)
    .tablet, .tablet-o
        display: block

    .small-tablet-o
        display: none


/* For Desktop & Beyond */
@media screen and (min-width: 1200px)
    .desktop
        display: block

    .tablet-o
        display: none


/* Layout >> Common > Typography
 ------------------------------------------------------------------------------------------------------------------------ */


.clear
    clear: both


.italic
    font-family: "OpenSans Italic", sans-serif


.semibold
    font-family: "OpenSans Semibold", sans-serif


.semibold-italic
    font-family: "OpenSans Semibold Italic", sans-serif


.bold
    font-family: "OpenSans Bold", sans-serif


.bold-italic
    font-family: "OpenSans Bold Italic", sans-serif


.extrabold
    font-family: "OpenSans Extrabold", sans-serif


.journal
    color: $blue
    font-family: "Journal", sans-serif


.no-margin
    margin: 0


/* Layout >> Common > Typography Colors
 ------------------------------------------------------------------------------------------------------------------------ */


.black
    color: $black !important


.grey
    color: $grey !important


.light-grey
    color: $lightGrey !important


.blue
    color: $blue !important


.turquoise
    color: $turquoise !important


.green
    color: $green !important


.yellow
    color: $yellow !important


.orange
    color: $orange !important


.red
    color: $red !important

