/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Screen >> Imports
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 17, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Variables >> Colors
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Variables >> Sprites
 * ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Mixins
 * ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Grids
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/partials/_grid.sass */
body {
  font-size: 100%;
  line-height: 1.6875;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 21, ../sass/partials/_grid.sass */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 29, ../sass/partials/_grid.sass */
.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* Layout >> Grid >> Row
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 39, ../sass/partials/_grid.sass */
.g-row:before, .g-row:after, .g-clearfix:before, .g-clearfix:after {
  content: "";
  display: table;
}

/* line 44, ../sass/partials/_grid.sass */
.g-row:after, .g-clearfix:after {
  clear: both;
}

/* line 48, ../sass/partials/_grid.sass */
.g-row, .g-clearfix {
  zoom: 1;
}

/* Layout >> Grid >> Width
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 56, ../sass/partials/_grid.sass */
.g-wfull {
  width: 100%;
  max-width: 100%;
}

/* line 61, ../sass/partials/_grid.sass */
.g-w320 {
  max-width: 320px;
}

/* line 65, ../sass/partials/_grid.sass */
.g-w640 {
  max-width: 640px;
}

/* line 69, ../sass/partials/_grid.sass */
.g-w960 {
  max-width: 960px;
}

/* Layout >> Grid >> Row & Columns & Pushes
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 77, ../sass/partials/_grid.sass */
.g-row {
  width: 100%;
}

/* line 81, ../sass/partials/_grid.sass */
.g-row .g-row {
  width: auto;
  margin: 0 -20px;
}

/* line 86, ../sass/partials/_grid.sass */
.g-c1 {
  width: 8.33%;
}

/* line 90, ../sass/partials/_grid.sass */
.g-c2 {
  width: 16.66%;
}

/* line 94, ../sass/partials/_grid.sass */
.g-c3 {
  width: 25%;
}

/* line 98, ../sass/partials/_grid.sass */
.g-c4 {
  width: 33.33%;
}

/* line 102, ../sass/partials/_grid.sass */
.g-c5 {
  width: 41.66%;
}

/* line 106, ../sass/partials/_grid.sass */
.g-c6 {
  width: 50%;
}

/* line 110, ../sass/partials/_grid.sass */
.g-c7 {
  width: 58.33%;
}

/* line 114, ../sass/partials/_grid.sass */
.g-c8 {
  width: 66.66%;
}

/* line 118, ../sass/partials/_grid.sass */
.g-c9 {
  width: 75%;
}

/* line 122, ../sass/partials/_grid.sass */
.g-c10 {
  width: 83.33%;
}

/* line 126, ../sass/partials/_grid.sass */
.g-c11 {
  width: 91.66%;
}

/* line 130, ../sass/partials/_grid.sass */
.g-c12 {
  width: 100%;
}

/* line 134, ../sass/partials/_grid.sass */
.g-c1, .g-c2, .g-c3, .g-c4, .g-c5, .g-c6, .g-c7, .g-c8, .g-c9, .g-c10, .g-c11, .g-c12 {
  min-height: 1px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

/* line 142, ../sass/partials/_grid.sass */
.g-s1 {
  margin-left: 8.33%;
}

/* line 146, ../sass/partials/_grid.sass */
.g-s2 {
  margin-left: 16.66%;
}

/* line 150, ../sass/partials/_grid.sass */
.g-s3 {
  margin-left: 25%;
}

/* line 154, ../sass/partials/_grid.sass */
.g-s4 {
  margin-left: 33.33%;
}

/* line 158, ../sass/partials/_grid.sass */
.g-s5 {
  margin-left: 41.66%;
}

/* line 162, ../sass/partials/_grid.sass */
.g-s6 {
  margin-left: 50%;
}

/* line 166, ../sass/partials/_grid.sass */
.g-s7 {
  margin-left: 58.33%;
}

/* line 170, ../sass/partials/_grid.sass */
.g-s8 {
  margin-left: 66.66%;
}

/* line 174, ../sass/partials/_grid.sass */
.g-s9 {
  margin-left: 75%;
}

/* line 178, ../sass/partials/_grid.sass */
.g-s10 {
  margin-left: 83.33%;
}

/* line 182, ../sass/partials/_grid.sass */
.g-s11 {
  margin-left: 91.66%;
}

/* line 186, ../sass/partials/_grid.sass */
.g-end {
  float: right !important;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Forms
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/partials/_forms.sass */
input, textarea {
  width: 250px;
  padding: 9px 18px;
  border: 1px solid silver;
  background-color: white;
  color: #454545;
  font-family: "OpenSans", sans-serif;
  font-size: 0.8125em;
  outline: 0;
  -webkit-box-shadow: 1px 1px 3px #f0f0f0;
  -moz-box-shadow: 1px 1px 3px #f0f0f0;
  box-shadow: 1px 1px 3px #f0f0f0;
}
/* line 23, ../sass/partials/_forms.sass */
input:-webkit-autofill, textarea:-webkit-autofill {
  color: #606060;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* line 27, ../sass/partials/_forms.sass */
input.success, textarea.success {
  border-color: #8bb956;
}
/* line 26, ../sass/partials/_mixins.sass */
input.success.placeholder, textarea.success.placeholder {
  color: #8bb956;
}
/* line 29, ../sass/partials/_mixins.sass */
input.success:-moz-placeholder, textarea.success:-moz-placeholder {
  color: #8bb956;
  opacity: 1;
}
/* line 33, ../sass/partials/_mixins.sass */
input.success::-moz-placeholder, textarea.success::-moz-placeholder {
  color: #8bb956;
  opacity: 1;
}
/* line 37, ../sass/partials/_mixins.sass */
input.success:-ms-input-placeholder, textarea.success:-ms-input-placeholder {
  color: #8bb956;
}
/* line 40, ../sass/partials/_mixins.sass */
input.success::-webkit-input-placeholder, textarea.success::-webkit-input-placeholder {
  color: #8bb956;
}
/* line 32, ../sass/partials/_forms.sass */
input.invalid, textarea.invalid {
  border-color: #c34c47;
}
/* line 26, ../sass/partials/_mixins.sass */
input.invalid.placeholder, textarea.invalid.placeholder {
  color: #c34c47;
}
/* line 29, ../sass/partials/_mixins.sass */
input.invalid:-moz-placeholder, textarea.invalid:-moz-placeholder {
  color: #c34c47;
  opacity: 1;
}
/* line 33, ../sass/partials/_mixins.sass */
input.invalid::-moz-placeholder, textarea.invalid::-moz-placeholder {
  color: #c34c47;
  opacity: 1;
}
/* line 37, ../sass/partials/_mixins.sass */
input.invalid:-ms-input-placeholder, textarea.invalid:-ms-input-placeholder {
  color: #c34c47;
}
/* line 40, ../sass/partials/_mixins.sass */
input.invalid::-webkit-input-placeholder, textarea.invalid::-webkit-input-placeholder {
  color: #c34c47;
}
/* line 37, ../sass/partials/_forms.sass */
input.warning, textarea.warning {
  border-color: #e49424;
}
/* line 26, ../sass/partials/_mixins.sass */
input.warning.placeholder, textarea.warning.placeholder {
  color: #e49424;
}
/* line 29, ../sass/partials/_mixins.sass */
input.warning:-moz-placeholder, textarea.warning:-moz-placeholder {
  color: #e49424;
  opacity: 1;
}
/* line 33, ../sass/partials/_mixins.sass */
input.warning::-moz-placeholder, textarea.warning::-moz-placeholder {
  color: #e49424;
  opacity: 1;
}
/* line 37, ../sass/partials/_mixins.sass */
input.warning:-ms-input-placeholder, textarea.warning:-ms-input-placeholder {
  color: #e49424;
}
/* line 40, ../sass/partials/_mixins.sass */
input.warning::-webkit-input-placeholder, textarea.warning::-webkit-input-placeholder {
  color: #e49424;
}
/* line 42, ../sass/partials/_forms.sass */
input.checking, textarea.checking {
  border-color: #0079c1;
}
/* line 26, ../sass/partials/_mixins.sass */
input.checking.placeholder, textarea.checking.placeholder {
  color: #0079c1;
}
/* line 29, ../sass/partials/_mixins.sass */
input.checking:-moz-placeholder, textarea.checking:-moz-placeholder {
  color: #0079c1;
  opacity: 1;
}
/* line 33, ../sass/partials/_mixins.sass */
input.checking::-moz-placeholder, textarea.checking::-moz-placeholder {
  color: #0079c1;
  opacity: 1;
}
/* line 37, ../sass/partials/_mixins.sass */
input.checking:-ms-input-placeholder, textarea.checking:-ms-input-placeholder {
  color: #0079c1;
}
/* line 40, ../sass/partials/_mixins.sass */
input.checking::-webkit-input-placeholder, textarea.checking::-webkit-input-placeholder {
  color: #0079c1;
}

/* line 48, ../sass/partials/_forms.sass */
input[type="checkbox"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 54, ../sass/partials/_forms.sass */
textarea {
  height: 125px;
}

/* line 58, ../sass/partials/_forms.sass */
button, select {
  outline: 0;
}

/* line 62, ../sass/partials/_forms.sass */
.input-small {
  padding: 8px 15px;
  font-size: 0.8125em;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Body and Common Classes
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/partials/_typography.sass */
body {
  color: #454545;
  font-family: "OpenSans", "sans-serif";
  font-size: 16px;
  text-shadow: 1px 1px 1px white;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "OpenSans";
  src: url('/fonts/opensans/opensans_regular.eot');
  src: url('/fonts/opensans/opensans_regular.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_regular.woff') format('woff'), url('/fonts/opensans/opensans_regular.ttf') format('truetype'), url('/fonts/opensans/opensans_regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Italic";
  src: url('/fonts/opensans/opensans_italic.eot');
  src: url('/fonts/opensans/opensans_italic.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_italic.woff') format('woff'), url('/fonts/opensans/opensans_italic.ttf') format('truetype'), url('/fonts/opensans/opensans_italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Semibold";
  src: url('/fonts/opensans/opensans_semibold.eot');
  src: url('/fonts/opensans/opensans_semibold.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_semibold.woff') format('woff'), url('/fonts/opensans/opensans_semibold.ttf') format('truetype'), url('/fonts/opensans/opensans_semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Semibold Italic";
  src: url('/fonts/opensans/opensans_semibold-italic.eot');
  src: url('/fonts/opensans/opensans_semibold-italic.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_semibold-italic.woff') format('woff'), url('/fonts/opensans/opensans_semibold-italic.ttf') format('truetype'), url('/fonts/opensans/opensans_semibold-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url('/fonts/opensans/opensans_bold.eot');
  src: url('/fonts/opensans/opensans_bold.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_bold.woff') format('woff'), url('/fonts/opensans/opensans_bold.ttf') format('truetype'), url('/fonts/opensans/opensans_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold Italic";
  src: url('/fonts/opensans/opensans_bold-italic.eot');
  src: url('/fonts/opensans/opensans_bold-italic.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_bold-italic.woff') format('woff'), url('/fonts/opensans/opensans_bold-italic.ttf') format('truetype'), url('/fonts/opensans/opensans_bold-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Extrabold";
  src: url('/fonts/opensans/opensans_extrabold.eot');
  src: url('/fonts/opensans/opensans_extrabold.eot?#iefix') format('eot'), url('/fonts/opensans/opensans_extrabold.woff') format('woff'), url('/fonts/opensans/opensans_extrabold.ttf') format('truetype'), url('/fonts/opensans/opensans_extrabold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../sass/partials/_typography.sass */
.clear {
  clear: both;
}

/* line 33, ../sass/partials/_typography.sass */
.italic {
  font-family: "OpenSans Italic", sans-serif;
}

/* line 37, ../sass/partials/_typography.sass */
.semibold {
  font-family: "OpenSans Semibold", sans-serif;
}

/* line 41, ../sass/partials/_typography.sass */
.semibold-italic {
  font-family: "OpenSans Semibold Italic", sans-serif;
}

/* line 45, ../sass/partials/_typography.sass */
.bold {
  font-family: "OpenSans Bold", sans-serif;
}

/* line 49, ../sass/partials/_typography.sass */
.bold-italic {
  font-family: "OpenSans Bold Italic", sans-serif;
}

/* line 53, ../sass/partials/_typography.sass */
.extrabold {
  font-family: "OpenSans Extrabold", sans-serif;
}

/* line 57, ../sass/partials/_typography.sass */
.no-margin {
  margin: 0;
}

/* Layout >> Colors
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 65, ../sass/partials/_typography.sass */
.black {
  color: #454545 !important;
}

/* line 69, ../sass/partials/_typography.sass */
.grey {
  color: #606060 !important;
}

/* line 73, ../sass/partials/_typography.sass */
.light-grey {
  color: #757575 !important;
}

/* line 77, ../sass/partials/_typography.sass */
.blue {
  color: #0079c1 !important;
}

/* line 81, ../sass/partials/_typography.sass */
.turquoise {
  color: #46a7df !important;
}

/* line 85, ../sass/partials/_typography.sass */
.green {
  color: #8bb956 !important;
}

/* line 89, ../sass/partials/_typography.sass */
.yellow {
  color: #ffc54c !important;
}

/* line 93, ../sass/partials/_typography.sass */
.orange {
  color: #e49424 !important;
}

/* line 97, ../sass/partials/_typography.sass */
.red {
  color: #c34c47 !important;
}

/* Layout Headings
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 105, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: normal;
}

/* line 111, ../sass/partials/_typography.sass */
h1, h2, h3 {
  font-family: "OpenSans Bold", "sans-serif";
}

/* line 115, ../sass/partials/_typography.sass */
h4, h5 {
  font-family: "OpenSans Semibold", "sans-serif";
}

/* line 119, ../sass/partials/_typography.sass */
h6 {
  font-family: "OpenSans", "sans-serif";
}

/* line 123, ../sass/partials/_typography.sass */
h1 {
  font-size: 24px;
  font-size: 1.5em;
}

/* line 128, ../sass/partials/_typography.sass */
h2 {
  font-size: 22px;
  font-size: 1.375em;
}

/* line 133, ../sass/partials/_typography.sass */
h3 {
  font-size: 20px;
  font-size: 1.25em;
}

/* line 138, ../sass/partials/_typography.sass */
h4 {
  font-size: 18px;
  font-size: 1.125em;
}

/* line 143, ../sass/partials/_typography.sass */
h5 {
  font-size: 16px;
  font-size: 1em;
}

/* line 148, ../sass/partials/_typography.sass */
h6 {
  font-size: 14px;
  font-size: 0.875em;
}

/* Layout >> Inline Elements
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 157, ../sass/partials/_typography.sass */
p {
  font-size: 0.8125em;
}

/* line 161, ../sass/partials/_typography.sass */
a {
  color: #0079c1;
  text-decoration: none;
}
/* line 165, ../sass/partials/_typography.sass */
a:hover {
  text-decoration: underline;
}

/* line 169, ../sass/partials/_typography.sass */
strong {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: normal;
}
/* line 173, ../sass/partials/_typography.sass */
strong em {
  font-family: "OpenSans Bold Italic", sans-serif;
  font-style: normal;
}

/* line 178, ../sass/partials/_typography.sass */
em {
  font-family: "OpenSans Italic";
  font-style: normal;
}
/* line 182, ../sass/partials/_typography.sass */
em strong {
  font-family: "OpenSans Bold Italic", sans-serif;
}

/* Layout >> Lists
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 190, ../sass/partials/_typography.sass */
ul, ol {
  padding-left: 20px;
  font-size: 14px;
  font-size: 0.875em;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Buttons
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/partials/_buttons.sass */
.btn {
  padding: 8px 20px;
  border: 1px solid #c5c5c5;
  background: #f0f0f0;
  color: #757575;
  font-size: 0.8125em;
  cursor: pointer;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background: linear-gradient(top, #ffffff, #f0f0f0);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF0F0F0');
  text-shadow: white 1px 1px 1px;
}
/* line 23, ../sass/partials/_buttons.sass */
.btn:hover {
  border: 1px solid #bbbbbb;
  background: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background: -o-linear-gradient(top, #eeeeee, #eeeeee);
  background: linear-gradient(top, #eeeeee, #eeeeee);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
}
/* line 29, ../sass/partials/_buttons.sass */
.btn:active {
  -webkit-box-shadow: #cccccc 0 3px 8px inset;
  -moz-box-shadow: #cccccc 0 3px 8px inset;
  box-shadow: #cccccc 0 3px 8px inset;
}
/* line 32, ../sass/partials/_buttons.sass */
.btn:disabled {
  border: 1px solid #d8d8d8;
  background: #f9f9f9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9F9F9', endColorstr='#FFF9F9F9');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: not-allowed;
}

/* line 41, ../sass/partials/_buttons.sass */
a.btn {
  text-decoration: none;
}

/* line 45, ../sass/partials/_buttons.sass */
.btn-tiny {
  padding: 4px 8px;
  font-size: 0.6875em;
}

/* line 50, ../sass/partials/_buttons.sass */
.btn-small {
  padding: 5px 10px;
  font-size: 0.75em;
}

/* line 55, ../sass/partials/_buttons.sass */
.btn-large {
  padding: 10px 22px;
  font-size: 0.875em;
}

/* line 60, ../sass/partials/_buttons.sass */
.btn-primary {
  border: 1px solid #32528a;
  background: #5a9cd6;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a9cd6), color-stop(100%, #416cba));
  background: -webkit-linear-gradient(top, #5a9cd6, #416cba);
  background: -moz-linear-gradient(top, #5a9cd6, #416cba);
  background: -o-linear-gradient(top, #5a9cd6, #416cba);
  background: linear-gradient(top, #5a9cd6, #416cba);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5A9CD6', endColorstr='#FF416CBA');
  -webkit-box-shadow: #a2ccf0 0 1px 0 0 inset;
  -moz-box-shadow: #a2ccf0 0 1px 0 0 inset;
  box-shadow: #a2ccf0 0 1px 0 0 inset;
  text-shadow: #152946 1px 1px 1px;
}
/* line 69, ../sass/partials/_buttons.sass */
.btn-primary:hover {
  border: 1px solid #304f86;
  background: #4875c4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4875C4', endColorstr='#FF4875C4');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 75, ../sass/partials/_buttons.sass */
.btn-primary:active {
  -webkit-box-shadow: #395a96 0 3px 8px inset;
  -moz-box-shadow: #395a96 0 3px 8px inset;
  box-shadow: #395a96 0 3px 8px inset;
}
/* line 78, ../sass/partials/_buttons.sass */
.btn-primary:disabled {
  border: 1px solid #395fa2;
  background: #5083db;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5083DB', endColorstr='#FF5083DB');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 85, ../sass/partials/_buttons.sass */
.btn-info {
  border: 1px solid #1a7eb8;
  background: #48bdf8;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #48bdf8), color-stop(100%, #429dd1));
  background: -webkit-linear-gradient(top, #48bdf8, #429dd1);
  background: -moz-linear-gradient(top, #48bdf8, #429dd1);
  background: -o-linear-gradient(top, #48bdf8, #429dd1);
  background: linear-gradient(top, #48bdf8, #429dd1);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF48BDF8', endColorstr='#FF429DD1');
  -webkit-box-shadow: #a5e0ff 0 1px 0 0 inset;
  -moz-box-shadow: #a5e0ff 0 1px 0 0 inset;
  box-shadow: #a5e0ff 0 1px 0 0 inset;
  text-shadow: #115379 1px 1px 1px;
}
/* line 94, ../sass/partials/_buttons.sass */
.btn-info:hover {
  border: 1px solid #1977ad;
  background: #46a4da;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF46A4DA', endColorstr='#FF46A4DA');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 100, ../sass/partials/_buttons.sass */
.btn-info:active {
  -webkit-box-shadow: #1e83bd 0 3px 8px inset;
  -moz-box-shadow: #1e83bd 0 3px 8px inset;
  box-shadow: #1e83bd 0 3px 8px inset;
}
/* line 103, ../sass/partials/_buttons.sass */
.btn-info:disabled {
  border: 1px solid #1d8bca;
  background: #4cb5ef;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4CB5EF', endColorstr='#FF4CB5EF');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 110, ../sass/partials/_buttons.sass */
.btn-success {
  border: 1px solid #788d44;
  background: #b6cf61;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b6cf61), color-stop(100%, #8bab49));
  background: -webkit-linear-gradient(top, #b6cf61, #8bab49);
  background: -moz-linear-gradient(top, #b6cf61, #8bab49);
  background: -o-linear-gradient(top, #b6cf61, #8bab49);
  background: linear-gradient(top, #b6cf61, #8bab49);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB6CF61', endColorstr='#FF8BAB49');
  -webkit-box-shadow: #c1de6c 0 1px 0 0 inset;
  -moz-box-shadow: #c1de6c 0 1px 0 0 inset;
  box-shadow: #c1de6c 0 1px 0 0 inset;
  text-shadow: #353e1f 1px 1px 1px;
}
/* line 119, ../sass/partials/_buttons.sass */
.btn-success:hover {
  border: 1px solid #5c6b36;
  background: #87a947;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF87A947', endColorstr='#FF87A947');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 125, ../sass/partials/_buttons.sass */
.btn-success:active {
  -webkit-box-shadow: #6c863a 0 3px 8px inset;
  -moz-box-shadow: #6c863a 0 3px 8px inset;
  box-shadow: #6c863a 0 3px 8px inset;
}
/* line 128, ../sass/partials/_buttons.sass */
.btn-success:disabled {
  border: 1px solid #768845;
  background: #9cc352;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9CC352', endColorstr='#FF9CC352');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 135, ../sass/partials/_buttons.sass */
.btn-warning {
  border: 1px solid #cb8016;
  background: #fab047;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fab047), color-stop(100%, #e39323));
  background: -webkit-linear-gradient(top, #fab047, #e39323);
  background: -moz-linear-gradient(top, #fab047, #e39323);
  background: -o-linear-gradient(top, #fab047, #e39323);
  background: linear-gradient(top, #fab047, #e39323);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAB047', endColorstr='#FFE39323');
  -webkit-box-shadow: #fed9a5 0 1px 0 0 inset;
  -moz-box-shadow: #fed9a5 0 1px 0 0 inset;
  box-shadow: #fed9a5 0 1px 0 0 inset;
  text-shadow: #543408 1px 1px 1px;
}
/* line 144, ../sass/partials/_buttons.sass */
.btn-warning:hover {
  border: 1px solid #aa6c14;
  background: #e49424;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE49424', endColorstr='#FFE49424');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 150, ../sass/partials/_buttons.sass */
.btn-warning:active {
  -webkit-box-shadow: #aa6c14 0 3px 8px inset;
  -moz-box-shadow: #aa6c14 0 3px 8px inset;
  box-shadow: #aa6c14 0 3px 8px inset;
}
/* line 153, ../sass/partials/_buttons.sass */
.btn-warning:disabled {
  border: 1px solid #c77e17;
  background: #fca227;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCA227', endColorstr='#FFFCA227');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 160, ../sass/partials/_buttons.sass */
.btn-danger, .badge-red, .label-red {
  border: 1px solid #943834;
  background: #e65f59;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e65f59), color-stop(100%, #c24b46));
  background: -webkit-linear-gradient(top, #e65f59, #c24b46);
  background: -moz-linear-gradient(top, #e65f59, #c24b46);
  background: -o-linear-gradient(top, #e65f59, #c24b46);
  background: linear-gradient(top, #e65f59, #c24b46);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE65F59', endColorstr='#FFC24B46');
  -webkit-box-shadow: #f79894 0 1px 0 0 inset;
  -moz-box-shadow: #f79894 0 1px 0 0 inset;
  box-shadow: #f79894 0 1px 0 0 inset;
  text-shadow: #6c2320 1px 1px 1px;
}
/* line 169, ../sass/partials/_buttons.sass */
.btn-danger:hover, .badge-red:hover, .label-red:hover {
  border: 1px solid #772e2b;
  background: #c64e49;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC64E49', endColorstr='#FFC64E49');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 175, ../sass/partials/_buttons.sass */
.btn-danger:active, .badge-red:active, .label-red:active {
  -webkit-box-shadow: #6f2b28 0 3px 8px inset;
  -moz-box-shadow: #6f2b28 0 3px 8px inset;
  box-shadow: #6f2b28 0 3px 8px inset;
}
/* line 178, ../sass/partials/_buttons.sass */
.btn-danger:disabled, .badge-red:disabled, .label-red:disabled {
  border: 1px solid #a33e3a;
  background: #e25853;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE25853', endColorstr='#FFE25853');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 185, ../sass/partials/_buttons.sass */
.btn-inverse {
  border: 1px solid #101010;
  background: #505050;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #353535));
  background: -webkit-linear-gradient(top, #505050, #353535);
  background: -moz-linear-gradient(top, #505050, #353535);
  background: -o-linear-gradient(top, #505050, #353535);
  background: linear-gradient(top, #505050, #353535);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF505050', endColorstr='#FF353535');
  -webkit-box-shadow: #858585 0 1px 0 0 inset;
  -moz-box-shadow: #858585 0 1px 0 0 inset;
  box-shadow: #858585 0 1px 0 0 inset;
  text-shadow: black 1px 1px 1px;
}
/* line 194, ../sass/partials/_buttons.sass */
.btn-inverse:hover {
  border: 1px solid black;
  background: #353535;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF353535', endColorstr='#FF353535');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 200, ../sass/partials/_buttons.sass */
.btn-inverse:active {
  -webkit-box-shadow: black 0 3px 8px inset;
  -moz-box-shadow: black 0 3px 8px inset;
  box-shadow: black 0 3px 8px inset;
}
/* line 203, ../sass/partials/_buttons.sass */
.btn-inverse:disabled {
  border: 1px solid #313131;
  background: #4e4e4e;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4E4E4E', endColorstr='#FF4E4E4E');
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: Hackaton Meteor Bootstrap
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >> Alerts
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/partials/_alerts.sass */
.alert {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #dab56e;
  border-bottom: 1px solid #dab56e;
  background-color: #fdd486;
  color: #877044;
  font-size: 0.875em;
  -webkit-box-shadow: #feefc7 0 1px 0 0 inset;
  -moz-box-shadow: #feefc7 0 1px 0 0 inset;
  box-shadow: #feefc7 0 1px 0 0 inset;
  text-shadow: white 1px 1px 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  opacity: 0.98;
}
/* line 27, ../sass/partials/_alerts.sass */
.alert a {
  text-decoration: underline;
}
/* line 30, ../sass/partials/_alerts.sass */
.alert .icon {
  float: left;
  margin: 3px 10px 0 0;
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -100px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
/* line 35, ../sass/partials/_alerts.sass */
.alert .close {
  float: right;
  margin: 3px 0 0 40px;
  cursor: pointer;
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 42, ../sass/partials/_alerts.sass */
.alert-success {
  border-top-color: #778b43;
  border-bottom-color: #778b43;
  background-color: #b6cf61;
  color: white;
  -webkit-box-shadow: #c6e36b 0 1px 0 0 inset;
  -moz-box-shadow: #c6e36b 0 1px 0 0 inset;
  box-shadow: #c6e36b 0 1px 0 0 inset;
  text-shadow: #4c592a 1px 1px 1px;
}
/* line 50, ../sass/partials/_alerts.sass */
.alert-success .icon {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -80px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
/* line 53, ../sass/partials/_alerts.sass */
.alert-success .close {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -20px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 57, ../sass/partials/_alerts.sass */
.alert-warning {
  border-top-color: #c68223;
  border-bottom-color: #c68223;
  background-color: #ffbe40;
  color: white;
  -webkit-box-shadow: #ffe5ae 0 1px 0 0 inset;
  -moz-box-shadow: #ffe5ae 0 1px 0 0 inset;
  box-shadow: #ffe5ae 0 1px 0 0 inset;
  text-shadow: #633d07 1px 1px 1px;
}
/* line 65, ../sass/partials/_alerts.sass */
.alert-warning .icon {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -139px;
  background-repeat: no-repeat;
  height: 19px;
  width: 21px;
}
/* line 68, ../sass/partials/_alerts.sass */
.alert-warning .close {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -40px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 72, ../sass/partials/_alerts.sass */
.alert-error {
  border-top-color: #8d312d;
  border-bottom-color: #8d312d;
  background-color: #e16660;
  color: white;
  -webkit-box-shadow: #feb3b0 0 1px 0 0 inset;
  -moz-box-shadow: #feb3b0 0 1px 0 0 inset;
  box-shadow: #feb3b0 0 1px 0 0 inset;
  text-shadow: #731f1c 1px 1px 1px;
}
/* line 80, ../sass/partials/_alerts.sass */
.alert-error .icon {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -120px;
  background-repeat: no-repeat;
  height: 19px;
  width: 21px;
}
/* line 83, ../sass/partials/_alerts.sass */
.alert-error .close {
  display: inline-block;
  background-image: url('/images/main-s2aac5a189f.png');
  background-position: 0 -60px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* line 88, ../sass/partials/_alerts.sass */
.alert-success a, .alert-warning a, .alert-error a {
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Project: EITS
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Layout >>
 * ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------
 * Project: Hackaton Meteor Bootstrap
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Account >>
 * ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------
 * Project: Hackaton Meteor Bootstrap
 * Designed by: Gentlemen https://gentlenode.com/
 * Contact: studio@gentlenode.com
 * ------------------------------------------------------------------------------------------------------------------------ */
/* Homepage >> Bootstrap Styles
 * ------------------------------------------------------------------------------------------------------------------------ */
/* line 12, ../sass/modules/_homepage.sass */
.homepage {
  padding-top: 120px;
}
/* line 15, ../sass/modules/_homepage.sass */
.homepage blockquote {
  margin-bottom: 20px;
  text-align: center;
}
