//- Copyright (c) 2014 by Gentlenode. All Rights Reserved.


template(name="Main")

    head
        title Hackaton Meteor Bootstrap
        meta(name="fragment" content="!")
        meta(name="viewport", content="initial-scale=1.0")
        link(rel="icon", sizes="16x16", href="/favicon.ico?v=2")

    body
        +Alerts
        +Header

        .content: .grid: .row
            +yield

        +Footer
