template(name="alerts")

    {{#with alert}}

    .alert(class="alert-{{type}}")
        .grid
            .g-row
                .g-c12
                    .icon
                    {{ message }}
                    .close

    {{/with}}

