//- Copyright (c) 2014 by Gentlenode. All Rights Reserved.


template(name="Alerts")

    with alert
        +AlertsInner


template(name="AlertsInner")

    .alert(class="alert-#{type}")
        .grid: .g-row: .g-c12
            span.icon
            = message
            span.close
