template(name="alerts")

    {{#with alert}}

    div.alert(class="alert-{{type}}")
        div.grid
            div.g-row
                div.g-c12
                    span.icon
                    {{ message }}
                    span.close

    {{/with}}

